<!-- Create your form here -->
<h1>Student Form</h1>
<%= form_tag students_path do %>
<Label>First Name</Label><br>
<%= text_field_tag :first_name %><br>

<Label>Last Name</Label><br>
<%= text_field_tag :last_name %><br>

<%= submit_tag 'Submit Student'%>
<% end %>
